---
layout: default
---

<header class="home">
  {% include nav.html %}
  <div class="header-content">
    <h1>IwillDominate: </h1>
    <p>The best Ex Semi Pro</p>
    <p>in League of Legends history</p>
  </div>
</header>
<main>
  <section class="about">
    <p>Iwilldominate is a Ex semi-pro, that played on Dignitas, Curse, which is Team Liquid now. Iwdominate is now a full time streamer and is labeled as toxic. He has a youtube channel which are highlights of his twitch streams.</p>
  </section>
  <section class="social">
    <h1>Places to find IWDOMINATE</h1>
    <div class="social-contain">
      {% for social in site.data.social-media %}
        <a href="{{social.link}}">
          <div class="bg" style="background-image: url({{social.bg}})">
            <h2>{{social.title}}</h2>
            <p class="desc">{{social.desc}}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
  <section class="teammates">
    <div class="teammates-info">
      <h2>Former Teammates</h2>
      <p>Iwdominate played with</p>
    </div>
      <div class="teammates-desc">
        {% for teammates in site.data.former-teammates %}
        <div>
          <p><a href="{{teammates.link}}">{{teammates.title}}</a></p>
        </div>
        {% endfor %}
      </div>
  </section>
</main>
<section class="contact-iwd">
  <div>
    <h2>Want to see more Iwdominate</h2>
    <h2>Want to see some high level toxicity</h2>
    <p>watch his stream now!</p>
  </div>
  <p class="link-stream"><a href="https://www.twitch.tv/iwilldominate">iwdominate stream</a></p>
</section>
<section class="gameplay">
  {% for game in site.data.gameplay %}
    <div>
      <img src="{{game.img}}" alt="picture of a league of legends champion">
      <p>{{game.title}}</p>
    </div>
  {% endfor %}
</section>
<section class="self-ad">
  <h1>Want a website?</h1>
  <p><a href="contact.html">contact me</a></p>
</section>
