html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  background-color: #1e1831;
  color: #fff;
  display: flex;
  flex-direction: column;
}

main a {
  text-decoration: none;
}

main .about {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 400px;
  text-align: center;
}

main .about p {
  font-size: 25px;
  width: 60%;
}

main .social .social-contain {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

main .social .social-contain a {
  width: 45%;
}

main .social .social-contain .bg {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
  width: 100%;
}

main .social .social-contain .bg h2, main .social .social-contain .bg p {
  margin: 0 0 5% 5%;
}

main .social .social-contain .bg h2, main .social .social-contain .bg p {
  color: #fff;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav img {
  height: 100px;
  margin: 0 0 0 2%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 2% 0 0;
  padding: 0;
  width: 40%;
}

nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header .header-content {
  align-items: center;
  color: #009688;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: 50px;
  justify-content: center;
}

header .header-content h1, header .header-content p {
  margin: 0;
}


.home {
  background-image: url(images/iwd-intro.gif);
}
